body {
	text-align: center;
}

.word {
	height: 300px;
	display : flex;
  	justify-content : center;
	align-items : center;
}

.mean {
	height: 300px;
    display: none;
  	justify-content : center;
	align-items : center;
}

button {
	width: 100px;
	height: 40px;
}